body {
    background-color: aquamarine;
}

#container {
    background-color: rebeccapurple;
    width: 350px;
    height: 150px;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    border: 3px solid black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#rockBtn, #paperBtn, #scissorsBtn {
    background-color: rgb(245, 18, 18);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.container-1 {
    background-color: rgb(175, 25, 25);
    width: 330px;
    height: 200px;
    padding: 5px;
    border: 3px solid black;
    margin: 5px;
}

.first img{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    display: inline-block;
    /* -webkit-transform: scale(3);
  -ms-transform: scale(5);
  transform: scale(1); */
}